{% load staticfiles %}
{% load scout_filters %}

<!DOCTYPE html>
<html class="no-js" lang="en">

    <head>
        <title>{% block title %}{% endblock %} &middot; SmithScape</title>
        {% include "scout/include/head.html" %}
    </head>

    <body {% if request.is_mobile or request.is_tablet %}data-mobile="true"{% endif %}>

        <div class="scout-primary">

            <div id="header" class="scout-header">
                <h1><a id="link_home" href="/{{ campus }}/" title="Discover Smith places">SmithScape</a></h1>
                <input id="campus_select_base" type="hidden" value="smith" />
            </div>

            <div id="scroll" class="scout-scroll">
                {% block web_content %}{% endblock %}
            </div>

            <div id="footer" class="scout-footer" role="contentinfo">
                <div style="margin-left:20px;float:left;">&copy; {% now "Y" %} Smith College <a href="https://www.smith.edu/about-smith/privacy-policy" title="Smith Privacy Policy">Privacy</a> <a href="https://www.smith.edu/about-smith/terms-of-use" style="margin-left:5px;" title="Smith Terms & Conditions of Use">Terms</a></div>
                <div style="float:right;margin-right:20px;"><a href="https://libraries.smith.edu/ask-us" target="_blank"  title="Request help via email">Ask Us</a></div>
            </div>

        </div>

        {% if not request.is_mobile %}
        <!-- desktop only extra container -->
        <div class="scout-secondary" aria-hidden="true">
            {% block secondary_content %}{% endblock %}
        </div>
        {% endif %}

    </body>
</html>
