{% extends "hybridize/base.html" %}
{% load staticfiles %}
{% load scout_filters %}

{% block title %}Discover{% endblock %}

{% block hybrid_content %}

<div class="content">

    <!-- <div style="background:url('{% static "scout/img/smith/UPLOAD-SMITH-IMAGE.jpg" %}') no-repeat center center; background-size:cover; height:270px;" valign="bottom" class="content-header">&nbsp;</div> -->

    <div class="content-content"></div>

</div>

<div id="discover_cards" class="visually-hidden" data-campus="{{campus}}" data-campus-latitude="{{ campus_locations.smith.latitude }}" data-campus-longitude="{{ campus_locations.smith.longitude }}">

    <!-- containers for displaying cards -->
    <div id="studyopen"></div>
    <div id="studylounge"></div>
    <div id="studyareas"></div>
    <div id="studyrooms"></div>
    <div id="studylabs"></div>
    <div id="studysilent"></div>
    <div id="studynaturallight"></div>

</div>


{% endblock %}
