{% load staticfiles %}

<div class="scout-spot-occupy">
    <h3>Check in this Space</h3>

    {% if spot.available %}

        <div class="spot-form">
            <p>
                {% if spot.occupied == None %}
                    This space is vacant. All {{ spot.capacity }} seats are unoccupied.
                {% else %}
                    {{ spot.occupied }} of {{ spot.capacity }} seats occupied ({{ spot.percentage }}% capacity)
                {% endif %}
            </p>

            <p>
                <form action="occupy/" class="form form-horizontal" method="post" id="occupy">
                    {% csrf_token %}
                    <button type="submit" name="minutes" value="60" class="btn btn-default minutes">Check in 1 hour</button> &nbsp;
                    <button type="submit" name="minutes" value="120" class="btn btn-default minutes">Check in 2 hour</button> &nbsp;
                    with &nbsp;
                    <input type="number" value="{{ students | default:1 }}" name="students" class="form-control" size="4" min="1" max="{{ spot.remainder }}" /> &nbsp;
                    student(s)
                </form>
            </p>

            {% if error %}
            <p><strong style="color:red">{{ error }}</strong></p>
            {% endif %}

        </div>

        <div class="spot-spinner" style="display:none">
            <img src="{% static 'scout/img/ajax-loader.gif' %}" hspace="70" />
        </div>

    {% else %}
        <p>This space is at capacity.</p>
    {% endif %}
</div>
